<div class="aboutUs-section">
    <div class="leftDiv-AboutUs">
        <div class="aboutUs-header">
            <p>ABOUT US </p>
            <br>
            <hr>
        </div>
        <div class="aboutUs-description">
            <p>
            We are a grassroots & entirely nonprofit movement of people who are giving
            and getting stuff for free in their own Towns. It's all about reuse and keeping
            good stuff out of landfills.
            </p>
        </div>
    </div>
    <div class="rightDiv-AboutUs">
        <img src="assets\home-page\PAFF_120816_thinkingaboutgiving_article-1024x547.jpg" />
    </div>
</div>

