.title-user{
    font-weight: bold;
    font-family: "Glory", sans-serif;
}

.button-close{
    align-items: center;
    font-family: "Glory", sans-serif;
    font-size: 20px;
}

.flex-content{
    display: flex;
    justify-content: start;
    align-items: baseline;
}
