<p class="title-user" mat-dialog-title>{{data.username}}</p>
<hr>
<div mat-dialog-content class="flex-content">
  <mat-icon>mail</mat-icon>
  <p class="title-user" mat-dialog-title>{{data.email}}</p>
</div>
<hr>
<div mat-dialog-content class="flex-content">
  <mat-icon>phone</mat-icon>
  <p class="title-user" mat-dialog-title>{{data.phoneNumber}}</p>
</div>
<hr>
<div mat-dialog-actions align="end">
  <button class="button-close" mat-button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>