.cards-section{
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #e8f0f16b;
    .cards-div{
        display: flex;
        justify-content: center;
        gap: 84px;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-end;
    }
    .cards-header p{
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding-bottom:40px;
    }
}
